{% extends "base.html" %}

{% block title %}
    Сброс вашего пароля
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="alert alert-success" role="alert">
        <h1>Сбросить пароль</h1>
        <p>Мы отправили вам по электронной почте инструкции по установке пароля.</p>
    </div>
    <div class="alert alert-secondary" role="alert">
        <p>
            Если вы не получили электронное письмо,
            убедитесь, что вы ввели адрес,
            на который зарегистрировались.
        </p>
    </div>
{% endblock %}