{% extends 'base.html' %}

{% block title %}
    {{ news_item.title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="card text-center mb-3">
      <div class="card-header">
          {% if news_item.category %}
            Категория: <a href="{{ news_item.category.get_absolute_url }}">{{ news_item.category }}</a>
          {% else %}
            Категория: <a href="{% url 'home' %}">{{ news_item.category }}</a>
          {% endif %}
      </div>
      <div class="card-body">
          <div class="media">
            {%  if news_item.photo %}
                <img src="{{ news_item.photo.url }}" alt="{{ news_item.photo.name }}"
                     width="350px" class="mr-3">
            {% else %}
                <img src="https://picsum.photos/id/1060/350/235/?blur=1"
                     alt="default" width="350px" class="ml-3">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ news_item.title }}</h5>
                <p class="card-text">{{ news_item.content|safe|linebreaks}}</p>
            </div>
          </div>
      </div>
      <div class="card-footer text-muted">
          {{ news_item.created_at|date:"Y:m:d h:i:s" }}
      </div>
    </div>
{% endblock %}
